<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Register Image" src="assets/img/drawing-2-core.svg" />
          <ion-card-header>
            <ion-card-subtitle>Register</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <form [formGroup]="registerForm">
              <ion-input color="tertiary" label="Name" labelPlacement="stacked" fill="outline" placeholder="Joey Stark" formControlName="username"></ion-input>
              <br />
              <br />
              <ion-input color="tertiary" type="email" label="Email" labelPlacement="stacked" fill="outline" placeholder="joeystark@invoicer.me" formControlName="email"></ion-input>
              <br />
              <br />
              <ion-input color="tertiary" type="password" labelPlacement="stacked" fill="outline" label="Password" formControlName="password">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
              <br />
              <br />
              <ion-checkbox color="tertiary" name='agreeToTos' labelPlacement="end" formControlName="agreeToTos">I agree to the <a [routerLink]="['tos']" >Terms and Conditions</a></ion-checkbox>
              <br />
              <br />
            <ion-button color="tertiary" expand="block" (click)="register()" [disabled]='!registerForm.valid'>
              Register
            </ion-button>
            </form>
            <ion-text class="ion-text-center">
              <p>Already have an account? <a [routerLink]="['/login']">Click here</a>.</p>
              <p><a [routerLink]="['/forgotpassword']">Forgot Password? </a></p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
