<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">register</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/img/drawing-2-core.svg" />
          <ion-card-header>
            <!-- <ion-card-title>Card Title</ion-card-title> -->
            <ion-card-subtitle>Register</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>

              <ion-input label="Name" labelPlacement="stacked" fill="outline" placeholder="Joey Stark" [(ngModel)]="credentials.username"></ion-input>
              <br />
              <br />
              <ion-input type="email" label="Email" labelPlacement="stacked" fill="outline" placeholder="joeystark@invoicer.me" [(ngModel)]="credentials.email"></ion-input>
              <br />
              <br />
              <ion-input type="Password" labelPlacement="stacked" fill="outline" label="Password" [(ngModel)]="credentials.password">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
              <br />
              <br />
              <ion-checkbox name='agreeToTos' labelPlacement="end" [(ngModel)]="agreeToTos">I agree to the <a [routerLink]="['tos']" >Terms and Conditions</a></ion-checkbox>
              <br />
              <br />
            <ion-button expand="block" (click)="register(credentials)" [disabled]='!formValid()'>
              Register
            </ion-button>
            <ion-text class="ion-text-center">
              <p>Already have an account? <a [routerLink]="['/login']">Click here</a>.</p>
              <p><a [routerLink]="['/forgotpassword']">Forgot Password? </a></p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
