<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>clients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" color="tertiary">
    <ion-toolbar>
      <ion-title size="large">Clients</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    @for(client of clientService.clients(); track $index) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{client.name}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>
            {{client.address1 + ' ' + client.address2}} <br />
            {{client.city + ', ' + client.state + ', ' + client.zipcode }} <br />
            {{client.contactName}} <br />
            {{client.email}} {{client.phoneNumber || ''}}
          </p>
        </ion-card-content>
      
        <ion-button fill="clear">Edit</ion-button>
        <ion-button color="danger" fill="clear" (click)="presentAlert(client.id);">Delete</ion-button>
        <ion-button color="tertiary" fill="clear" [routerLink]="['/create-invoice']" [queryParams]="{ clientId: client.id}">Create Invoice</ion-button>
      </ion-card>
    }

      <ion-button id="add-modal" color="tertiary" expand="block">Add new client</ion-button>

  </ion-list>

  <ion-modal trigger="add-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar color="tertiary" >
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          
            <ion-input label="Client or Business Name" fill="outline" color="tertiary" labelPlacement="stacked" placeholder="ABC Company" [(ngModel)]="client.name"></ion-input>
            <br/>
          
            <ion-input label="Address 1" fill="outline" color="tertiary" labelPlacement="stacked" placeholder="124 West Bubble" [(ngModel)]="client.address1"></ion-input>
            <br/>
          
            <ion-input label="Address 2" fill="outline" color="tertiary" labelPlacement="stacked" placeholder="Suite 510" [(ngModel)]="client.address2"></ion-input>
            <br/>
          
            <ion-input label="City" fill="outline" color="tertiary" labelPlacement="stacked" placeholder="Sommerville" [(ngModel)]="client.city"></ion-input>
            <br/>
            <ion-select label="State" fill="outline" color="tertiary" labelPlacement="stacked"  placeholder="Select State" [(ngModel)]="client.state">
              @for(state of states; track $index) {
                <ion-select-option [value]="state.code"> {{state.name}}</ion-select-option>
              }
            </ion-select>
            <br/>
            <ion-input label="Zip Code" fill="outline" color="tertiary" labelPlacement="stacked" placeholder="12345" [(ngModel)]="client.zipcode"></ion-input>
            <br/>
          
            <ion-input label="Email" fill="outline" color="tertiary" labelPlacement="stacked" placeholder="email@company.com" [(ngModel)]="client.email"></ion-input>
            <br/>
          
            <ion-input label="Phone Number" fill="outline" color="tertiary" labelPlacement="stacked" placeholder="718 555 1212" [(ngModel)]="client.phoneNumber"></ion-input>
            <br/>
          
            <ion-input label="Contact" fill="outline" color="tertiary" labelPlacement="stacked" placeholder="Manager Name" [(ngModel)]="client.contactName"></ion-input>
            <br/>
            <ion-button expand="block" color="tertiary" (click)="addClient(client)">Add Client</ion-button>
        </ion-list>
        
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-alert
  header="Alert!"
></ion-alert>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-text>
      Clients: {{this.clientService.clients().length}}
    </ion-text>
  </ion-toolbar>
</ion-footer>



  

