<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar> -->
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Welcome {{authService.currentUser?.displayName}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>At A Glance</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            @if(chartDataLoaded){
              <canvas baseChart [data]="cfg.data" [options]="cfg.options" [type]="'doughnut'"> </canvas>
            }
            @else {
              <ion-text>
                Loading, Please wait....
              </ion-text>
            }
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Recent Invoices</ion-card-title>
            <ion-card-subtitle>{{invoiceService.invoices().length }} Total</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-list>
              @for(invoice of invoiceService.invoices().slice(0,5); track $index;) {
                <ion-item>
                  {{invoice.invoiceNo}}
                </ion-item>
              }
            </ion-list>
          </ion-card-content>
          <ion-button fill="clear" [routerLink]="['/invoices']">More Invoices</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Invoice Summary</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Clients</ion-card-title>
            <ion-card-subtitle>{{clientService.clients().length}} Total</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-list>
              @for(client of clientService.clients().slice(0,5); track $index) {
                <ion-item>
                  {{client.name}}
                </ion-item>
              }
            </ion-list>
          </ion-card-content>
          <ion-button fill="clear" [routerLink]="['/clients']">More Clients</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
