// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Inter", sans-serif;
  --ion-color-primary: #155eef;
  --ion-color-primary-rgb: 21, 94, 239;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1353d2;
  --ion-color-primary-tint: #2c6ef1;
  --ion-color-tertiary: #155eef;
  --ion-color-tertiary-rgb: 21, 94, 239;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #1353d2;
  --ion-color-tertiary-tint: #2c6ef1;
  --ion-background-color: #f6f8fc;
  --ion-text-color: #172033;
}
