<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create an Invoice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create an Invoice</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Invoice No" placeholder="INV0001" fill="outline"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea label="From:" placeholder="Type something here" fill="outline"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea label="Bill To:" placeholder="Type something here" fill="outline"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-item>
              <ion-input placeholder="Description" fill="outline"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-input type="number" placeholder="1" fill="outline"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number" placeholder="$0" fill="outline"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-button>+ Line Item</ion-button>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            Subtotal:
          </ion-col>
          <ion-col size="2">
            $0
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            Total / Amount Due:
          </ion-col>
          <ion-col size="2">
            $0
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-textarea label="Notes:" placeholder="Type something here" fill="outline"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea label="Terms:" placeholder="Type something here" fill="outline"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
