<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text class="ion-text-center">
          <h1>Invoices Made Easy!</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img
          src="assets/img/man.svg"
          alt="home img"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="tertiary" expand="block" [routerLink]="['/login']">Get Started</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
